<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
      crossorigin="anonymous"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&display=swap");
      * {
        font-family: "Noto Sans Mono", monospace;
      }
      body {
        background: black;
        color: white;
        text-align: center;
      }
      #container {
        margin: 20px;
        /* padding: 20px; */
        /* background: darkgrey; */
        min-height: 100vh;
        text-align: center;
      }
      #varun {
        border: none;
        background: inherit;
        color: white;
        margin-bottom: 20px;
      }
    </style>
    <title>AEC Statistics ❤</title>
    <script>
      const change = () => {
        document.getElementById("varun").innerHTML = "Varun Kedia";
      };
    </script>
  </head>
  <body>
    <div id="container">
      <h5>
        Welcome fellow Aecian <span style="color: yellow">(2018 - 2022)</span>
      </h5>
      <small style="color: grey">This app is under construction.</small> <br>
      <small>Try clicking on a student 😉</small>
      <!-- <h5>You can select any student to view his/her detailed statistics</h5> -->
      <hr />
      <!-- Students -->
      <%- include('student', {name:"Prasad Biswas", company:"Josh Tech."}) %> 
      <%- include('student', {name:"Akshat Gupta", company:"Thoughtworks"}) %> 
      <%- include('student', {name:"Varun Kedia", company:"Thoughtworks"}) %>
      <%- include('student', {name:"Aman Thakur", company:"Virtusa"}) %>
      <%- include('student', {name:"Aman Saluja", company:"Virtusa"}) %>
      <%- include('student', {name:"Anand Singh", company:"Virtusa"}) %>
      <%- include('student', {name:"Gaurav Singh", company:"Virtusa"}) %>
      <%- include('student', {name:"Hans Raj", company:"Virtusa"}) %>
      <%- include('student', {name:"Muskan", company:"Virtusa"}) %>
      <%- include('student', {name:"Pawan Singh", company:"Virtusa"}) %>
      <%- include('student', {name:"Rishikant Prasad", company:"Virtusa"}) %>
      <%- include('student', {name:"Somnath Prasad", company:"Virtusa"}) %>
      <%- include('student', {name:"Souvick Majee", company:"Virtusa"}) %>


      <!--  -->
    </div>
    <small
      >Created by -
      <button id="varun" onclick="change()">Another Aecian</button>
    </small>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js" integrity="sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u" crossorigin="anonymous"></script>
    -->
  </body>
</html>
